
<%# not used, for testing only %>

<h1 class="center home_h">Sorry to see you leave...</h1>


<%# <h4 class="roboto_mono center">ID: <%= @userID.id%></h4> %>
<%# <h4 class="roboto_mono center">Username: <%= @userID.username%></h4> %>

<h3 class=" center home_h">Keep coding!</h3>





