<h1 class="center home_h">Sorry to see you leave...</h1>

<div class="roboto_mono">
<%= @id%>
<%= @name%>
</div>
<h3 class=" center home_h">Keep coding!</h3>



<p>NOTE ADD A BUTTON TO REDIRECT TO SIGN IN PAGE</p>