<h1 class="center home_h">Welcome to Code//Talk</h1>
<hr> 
<h2 class="center home_h">Lets have fun!</h2>
<div class="center">
    <img class=" dash_img_1 " src="/code_image.jpeg" alt="">
</div>

<h3 class="home_h">Create Account</h3>
<form class="roboto_mono" action="/created" method="post" id="create_form">
  <input type="text" name="username" placeholder="Enter username"><br>
  <input type="password" name="password" placeholder="Enter password"><br>
 
  <label>Choose your Code Language</label>
  <select class="browser-default" name="code_language" form="create_form">
    <option value="" disabled selected>Choose your option</option>
    <option value="Ruby">Ruby</option>
    <option value="Javascript">Javascript</option>
    <option value="C#">C#</option>
    <option value="C++">C++</option>
    <option value="SQL">SQL</option>
    <option value="HTML">HTML</option>
    <option value="CSS">CSS</option>
</select><br>

  <input type="text" name="f_name" placeholder="Enter first name"><br>
  <input type="text" name="l_name" placeholder="Enter last name"><br>
  <input type="date" name="dob" placeholder="Enter your date of birth"><br>
  <input type="email" name="email" placeholder="Enter email"><br>
  <input type="submit" value="Signup">
</form>


