<%# email page %>

<h1 class="center home_h">Welcome to Code//Talk</h1>
<hr> 
<h2 class="center home_h">Email a friend</h2>


<h3 class="home_h">Email</h3>
<form class="roboto_mono" action="/email" method="post">
 From:<input type="email" name="email_from" placeholder="Enter your: email address"><br>
 Send to:<input type="email" name="email_send" placeholder="Enter to: email address"><br>
 Subject:<input type="text" name="email_subject" placeholder="Subject"><br>
 Message:<textarea name="email_text" id="" cols="30" rows="20"
   placeholder="Enter your message"></textarea><br>
  <input type="submit" value="Send">
</form>