

<h1 class="center home_h">Welcome to Code//Talk</h1>

<h3 class="center home_h">Developers - "We build the world!"</h3>


<h3 class="home_h">About:</h3>
<p class="roboto_mono">As Software Devs we need a space
to collobrate with our peers to create
the best dam code we can possible push out to the 
world.  We create the world as we know it, so lets
collobrate, share ideas, code, and have fun doing it.</p>
<div>
<p class="roboto_mono">Login or create an account to join CODE//TALK.</p>
<p class="roboto_mono">Then go to the Dashboard to start posting your dreams.</p>
</div>
<h4 class="home_h">Below are some great websites to help you become a better developer</h4>
<div class="roboto_mono">
<a href="https://nycda.com/">NYCDA "Great Software Engineering Immersive School"</a><br>
<a href="https://www.codecademy.com/">codeacademy</a><br>
<a href="https://www.hackerrank.com/">hackerrank</a><br>
<a href="https://repl.it">Test your software</a><br>
<a href="https://hacks.mozilla.org/">Hacks-Mozilla.org</a><br>
<a href="https://css-tricks.com/">CSS-Tricks</a><br>
<a href="http://html5doctor.com/">HTML5 Doctor</a><br>
<a href="https://www.freecodecamp.org/news/quincylarson/node-js-handbook--rSaL0lP34">The Definitive Node.js Handbook</a><br>
<a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Basics">JavaScript object basics</a>
</div>


