
<h1 class="center home_h">Welcome to Code//Talk</h1>




<h3 class="home_h">Login Form</h3>
<form class="roboto_mono" action="/login" method="post">
  <input type="text" name="username" placeholder="Enter username"><br>
  <input type="password" name="password" placeholder="Enter password"><br>
  <input type="submit" value="Login">
</form>